#question:after {
    content: "Is JavaScript case sensitive?"
}
#question2:after {
    content: "What are JavaScript Data Types?"
}

/* answers to question 1 below */
#optionOne:after {
    content: "I think I'm taking the wrong test."
}
#optionTwo:after {
    content: "No"
}
#optionThree:after {
    content: "JavaScript isnt real."
}
#optionFour:after {
    content: "Yes duh!"
}

/* answers to question 2 below */
#answerTwoOne:after {
    content: "Numbers"
}
#answerTwoTwo:after {
    content: "Strings"
}
#answerTwoThree:after {
    content: "Booleans/Object"
}
#answerTwoFour:after {
    content: "All of the above"
}




.highlight:hover {
    background-color: aquamarine;
}